<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tiles</title>
</head>
<body>
    
    <table>
        <tr>
            {% for instrument in instruments %}
                <td style="text-align: center;">
                    <div>
                        {{ instrument.figi }}<br>
                        {{ instrument.last_price }}<br>
                        {{ instrument.ticker }}<br>
                        {{ instrument.class_code }}<br>
                        {{ instrument.last_price_time }}<br>
                        {{ instrument.order_book_upd_time }}<br>
                        {{ instrument.depth }}<br>
                        <br>

                        <br>
                            <table style="border: none; border-collapse: collapse; border-spacing: 0;">
                                    <th style="text-align: center;">bids</th>
                                    <th style="text-align: center;">price</th>
                                    <th style="text-align: center;">asks</th>
                                {% for k_price, v_price in instrument.prices.items() %}
                                    <tr>
                                        <td style="text-align: right; width: 70px;">{{ v_price.bid }}</td>
                                        <td style="text-align: center; width: 70px;"><b>{{ k_price }}</b></td>
                                        <td style="text-align: left; width: 70px;">{{ v_price.ask }}</td>
                                    </tr>
                                {% endfor %}
                            </table>
                    </div>
                </td>
            {% endfor %}
        </tr>
    </table>
    

</body>
</html>